* {
	font-family:Verdana, sans-serif;
	color: #666;
}

a {
	color:#F00;
}

.company-logo {
	padding:30px 0px 0px 30px;
	max-width:150px;	
}

.company-name {
	float:right;
	padding:30px 30px 0px 0px;	
}

.divider-line-10 {
	border-top:10px #FF0000 solid;
	margin:30px 0px 0px 0px;
}

.mainpage-image{
	padding:50px;	
}

.product-link {
	padding:20px;	
}



